<strong>Olá, {{ creator }}</strong>
<p>Há uma nova inscrição no seguinte Meetup organizado por você:</p>
<p>
    <strong>Título: </strong> {{ meetupTitle }} <br />
    <strong>Data/Hora: </strong> {{ meetupDate }} <br />
    <br>
</p>
<p>
    <strong>Dados do usuário inscrito</strong> <br />
    <strong>Nome: </strong> {{ userName }} <br />
    <strong>Email: </strong> {{ userEmail }}
</p>
